In [7]:
import json, csv
import pandas as pd

with open('MovieList-Generated.json', 'r') as j:
    json_obj = json.load(j)
keyorder = ['Release Year', 'Movie Title',  'Sl No:']


df = pd.DataFrame(json_obj, columns=keyorder)
df

    Release Year                                    Movie Title Sl No:
0           2019                                       Parasite    35.
1           1994                       The Shawshank Redemption     1.
2           1994                         Léon: The Professional    34.
3           1991                     Terminator 2: Judgment Day    29.
4           2001                                  Spirited Away    31.
..           ...                                            ...    ...
245         2003  The Lord of the Rings: The Return of the King     7.
246         1957                                   12 Angry Men     5.
247         1974                          The Godfather Part II     4.
248         2008                                The Dark Knight     3.
249         1972                                  The Godfather     2.

[250 rows x 3 columns]

In [27]:
df.loc[df['Sl No:'].map(x, strip('.'))]

NameError: name 'x' is not defined

In [36]:
df.applymap(lambda x: x.strip('.'))

SyntaxError: invalid syntax (274169595.py, line 1)